div {
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
    margin: 10px;
}

/* 기본 position 값은 static */
div:nth-child(4) {
    /* position: relative;는 원래 배치되는 자리에서 이동.*/
    position: relative;
    left: 500px;
}

div:nth-child(5) {
    /* position: absolute; 좌표를  left,top 만큼 이동한 위치로 설정.
    웹 문서(body)기준*/
    position: absolute;
    left: 500px;
    top: 200px;
}

img.spam {
    position: fixed;
    border-radius: 100%;
    width: 128px;
    height: 128px;
    right: 50px;
    bottom: 85px;
    
}
img.spam:hover {
    color: rgba(0,0,0,0.5);
}