<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스 였던것</title>
    <link rel = "stylesheet" href="/css/nav.css">
</head>
<body>
    <h1>INDEX</h1>
    <hr>
    <p>타임리프 라이브러리 추가하면 resources 아래 static이랑 template폴더가 자동으로 생성됩니다.</p>
    <ul>
        <li>Static 폴더 : css, js, 이미지, 정적 html등 정적 리소스를 포함</li>
        <li>Template 폴더 : 타임리프가 html 웹페이지를 만들기 위해 동적인 데이터를 활용합니다.</li>
        <li>그 때 사용된 html은 템플릿이라고 부르며 이 폴더에 저장합니다. 단, 임의로 하위폴더 생성 가능.</li>
    </ul>
    <ul id="nav">
    <li><a href ="/join">회원가입</a></li>
    <li><a href ="/login">로그인</a></li>
    <li><a href ="/list">리스트</a></li>
    <li><a href ="/customer/list">커스터머리스트</a></li>
    <li><a href ="/customer/cuslist">고객 목록</a></li>
    <li><a href ="/product/list">상품 목록</a></li>
    </ul>
</body>
</html>