    table {
        border: 1px solid red;
        border-collapse: collapse;
        width: 700px;
        margin: 30px auto;
        /* 가로 방향 여백을 알아서 자동 설정(양쪽 여백값 동일하게) 
         table 의 너비가 100% 보다 작을 때 가능
      */
    }

    h3 {
        text-align: center;
    }

    tr,
    td {
        border: 1px solid tomato;
    }

    th {
        color: white;
        background-color: tomato;
        width: 100px;
        /* text-align: center; */
    }

    td {
        text-align: center;
        width: 100px;
        padding: 5px;
    }