*{
    box-sizing: border-box;
}
html, body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#root li{
    list-style: none;
    padding: 20px;
}
img {
    width: auto;
    height: 200px;
    margin: auto;
}
p::before {
    border: 1px solid #6a6a6a;
}