.container {
    min-width: 90px;
    min-height: 300px;
    background-color: bisque;
    margin-left:7px;
}

.container>div {
    width: 80px;
    height: 80px;
    border: 2px dotted #AF2FA2;
    margin: 15px;
}
.flex-row{
    display: flex;
    /* 레이아웃 row 방향 기본값*/
    flex-direction: row;
}
.flex-cloumn{
    display: flex;
    /* 레이아웃 column 방향*/
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
    /* 기본값은 nowrap */
}