*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border:0;
    font:inherit;
    vertical-align: baseline;
}
#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.sub-wrap {
    width: 100%;
    background-color: #04152b;
}

.sub-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 128rem;
    height: 3.6rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.sitetab {
    display: flex;
    align-items: center;
    height: 100%;
}

.sitetab>li {
    height: 100%;
    line-height: 3.6rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
.usertab{
    display: flex;
    align-items: center;
}
.usertab > li{
    position: relative;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
.usertab>li+li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: .1rem;
    height: 1rem;
    background-color: rgba(255,255,255,0.5);
    transform: translateY(-50%);
}

.nav-wrap {
    width: 100%;
    background-color: #071d3d;
}

.nav-con {
    position: relative;
    /*리레이티브가 뭐더라*/
    display: flex;
    /*화면 전체적으로 유연하게 요소 배치*/
    align-items: center;
    /*가운데로 정렬*/
    justify-content: space-between;
    width: 128rem;
    height: 9.4rem;
    padding: 0 4rem;
    margin: 0 auto;
    /* rem은 부모요소(body)의 비율만큼 %를 의미. */
}

img {
    border-style: none;
}

.gnb-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10rem;
}
.gnb-wrap > li{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.gnb-ico {
    display: flex;
    align-items: center;
    column-gap: 6rem;
}
.gnb-ico > li{

}