/*
modal창:alert,confirm,prompt 대신에 사용하는 작은 창
처음에는 modal을 안 보이게 하고 '3초가 지나면' 창이 보이게 한다
*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000082;
}

.show {
    display: block;
}

.modalContent {
    background-color: white;
    margin: 20% auto;
    padding: 40px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}